@font-face {
    font-family: myFont;
    src: url("assets/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}


html {
    font-size: 15px;
}

body {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(250,250,250);
    color: rgb(80,80,80);
    font-family: myFont, sans-serif;
    padding-top: 95px; /* accomodate fixed header */
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 95px;
    max-width: inherit;
    background-color: inherit;
}
h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 5px 0;
    font-weight: normal;
    font-style: normal;
}
img {
    vertical-align: middle;
    margin-right: 10px;
}

label, li, .modal > div > div, .button {
    border: 2px solid rgb(80,80,80);
    border-radius: 5px;
}

label {
     margin: auto;
    display: block;
    cursor: pointer;
    padding: 5px 0px;
    width: 33%;
    text-align: center;
}

textarea, li, label, .modal > div > div, .button {
    font-size: 1.2rem;
}


main {
    margin: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: none;
}

input[id="newOrEditTab"]:checked ~ main ul[id="newOrEdit"] {
    display: block;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    background-color: rgba(80,80,80,0.5);
    display: none;
}

.modal > div {
    width: 290px;
    margin: 10px auto 0 auto;
    padding: 5px;
    border: 1px solid rgb(150,150,150);
    border-radius: 5px;
    background-color: rgb(250,250,250);
}

.modal > div > div, .button {
    margin: 10px auto;
    padding: 3px;
    max-width: 230px;
    background-color: rgb(230,230,230);
}

.modal > div > div:hover, .button:hover {
    cursor: pointer;
    background-color: rgb(200,200,200);
}